<body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<form enctype="multipart/form-data">
		<input type="text" id="datasetname" name="name" placeholder="enter datasetname">
		<input type="text" id="datasetdesc" name="description" placeholder="enter dataset desc">
		<input type="file" name="dataset_file" id="datasetupload"/>
		<input type="number" name="header_onrow" id="headerrow"/>		
		<input type="button" name="sendinfo" value="sendinfo" id="sendinfo"/>
	</form>
	<div>
		<ul id='QCResult'></ul>
	</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io.connect('http://127.0.0.1:5000/dataset');
	$(document).ready(function(){
	socket.on('connect',function(){
		socket.send('DatasetSocket has connected');
		
	socket.on('join',function(msg){
		console.log('form join room');
		console.log(msg)
	});

	socket.emit('join',1,"from socket client")

	socket.on('message',function(msg){
		console.log(msg)
		if (msg.type=='SUCCESS'){
			$('#QCResult').append('<li><h3 style="border: 2px solid Green;">'+msg.message+'</h3></li>')
		}else{
			if (msg.message){				
			$('#QCResult').append('<li><h4 style="border: 2px solid red;">'+msg.message+'</h4></li>')
			}else{
				$('#QCResult').append('<li><h1>'+msg+'</h1></li>')
			}
		}
	});
	});

	// var bsocket = io.connect('http://127.0.0.1:5000/');
	// bsocket.on('connect',function(){
	// 	bsocket.send('Base Socket has connected');
		
	// bsocket.on('message',function(msg){
	// 	console.log(msg)
		
	// });
	// });
	});
</script>

<script type="text/javascript" charset="utf-8">
// $(document).ready(function(){
// 	$('#sendinfo').click(function (){
// 		console.log('initiate click')
// 		var name=$('datasetname').val();
// 		var description =$('datasetdesc').val();
// 		var dataset_file =$('#datasetupload')[0].files[0];
// 		var header_onrow =parseInt($("#headerrow").val())
		
// 		var f_d = new FormData()
// 		console.log(f_d)
// 		f_d.append('name',name)
// 		f_d.append('description',description)
// 		f_d.append('dataset_file',dataset_file)
// 		f_d.append('header_onrow',header_onrow)
// 		$.ajax({
// 			url:'http://127.0.0.1:5000/user/thistest',
// 			type: 'post',
// 			data:f_d
// 		}).done(function(msg){
// 			alert('received  from server ')
// 			alert(JSON.stringify(msg))
// 			alert(JSON.parse(msg)['userName'])
// 		}).fail(function(msg){
// 			alert('failed')
// 			alert(JSON.stringify(msg))
// 			alert(JSON.parse(msg)['message'])
// 			alert(msg)
// 		});
// 	});
// });
</script>
</body>